## Data Exploration

In [1]:
import boto3
import pandas as pd
import numpy as np

s3 = boto3.resource('s3')
bucket_name = 'evan-callaghan-bucket'
bucket = s3.Bucket(bucket_name)

file_key = 'Kaggle-Spine-Fracture-Detection/train.csv'
file_key2 = 'Kaggle-Spine-Fracture-Detection/train_bounding_boxes.csv'

bucket_object = bucket.Object(file_key)
bucket_object2 = bucket.Object(file_key2)

file_object = bucket_object.get()
file_object2 = bucket_object2.get()

file_content_stream = file_object.get('Body')
file_content_stream2 = file_object2.get('Body')

## Reading the data
train = pd.read_csv(file_content_stream)
train_boxes = pd.read_csv(file_content_stream2)

## Appending train_boxes with train data-frame
train = train.merge(train_boxes, on = 'StudyInstanceUID', how = 'left')

In [2]:
train.head()

,StudyInstanceUID,patient_overall,C1,C2,C3,C4,C5,C6,C7,x,y,width,height,slice_number
0,1.2.826.0.1.3680043.6200,1,1,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,1.2.826.0.1.3680043.27262,1,0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,1.2.826.0.1.3680043.21561,1,0,1,0,0,0,0,0,148.0,85.00000,157.0,71.00000,100.0
3,1.2.826.0.1.3680043.21561,1,0,1,0,0,0,0,0,144.0,84.00000,162.0,73.00000,101.0
4,1.2.826.0.1.3680043.21561,1,0,1,0,0,0,0,0,141.0,79.14078,167.0,80.85922,102.0

In [3]:
train.shape

(9001, 14)

In [4]:
train_boxes.head()

,StudyInstanceUID,x,y,width,height,slice_number
0,1.2.826.0.1.3680043.10051,219.27715,216.71419,17.30440,20.38517,133
1,1.2.826.0.1.3680043.10051,221.56460,216.71419,17.87844,25.24362,134
2,1.2.826.0.1.3680043.10051,216.82151,221.62546,27.00959,26.37454,135
3,1.2.826.0.1.3680043.10051,214.49455,215.48637,27.92726,37.51363,136
4,1.2.826.0.1.3680043.10051,214.00000,215.48637,27.00000,43.51363,137

In [5]:
train_boxes.shape

(7217, 6)