In [2]:
import pandas as pd
import numpy as np

## Reading csv file
train = pd.read_csv('train_new.csv')
train.head()

,text,reply_to_screen_name,is_quote,is_retweet,hashtags,country,Trump_flag,jfrketich_flag,clean_tweet,sentiment,char_count,word_count,unique_word_count,avg_wordlength,unique_vs_words
0,Remember the #WuhanCoronaVirus? The pandemic w...,NaN,1,1,WuhanCoronaVirus KillerCuomo,us,0,0,remember pandemic great percentage deaths resu...,0.20000,156,21,21,7.428571,1.000000
1,My sources @WhiteHouse say 2 tactics will be u...,NaN,1,1,Trump,us,0,0,sources say tactics used get america open amp ...,0.00000,172,28,25,6.142857,0.892857
2,I'll venture a wild guess: If you were running...,NaN,1,1,COVID19,us,0,0,venture wild guess running usa crisis youd wan...,0.22500,175,29,23,6.034483,0.793103
3,#Pakistan (#GreenStimulus = #Nature protection...,NaN,1,1,Pakistan GreenStimulus Nature Green,us,0,0,protection jobs community youth within recentl...,0.03125,87,12,12,7.250000,1.000000
4,ðŸ‡ºðŸ‡¸ PandÃ©mie de #coronavirus: 30 pasteurs amÃ©ri...,NaN,1,1,coronavirus COVID__19 COVIDãƒ¼19,us,0,0,pand mie de 30 pasteurs ricains qui avaient mi...,0.00000,201,31,31,6.483871,1.000000

# USA

In [13]:
usa = train[train['country'] ==  'us'].reset_index(drop = True)

print(usa['is_quote'].value_counts())
print(usa['is_retweet'].value_counts())

1    40000
Name: is_quote, dtype: int64
1    40000
Name: is_retweet, dtype: int64

# UK

In [14]:
uk = train[train['country'] ==  'uk'].reset_index(drop = True)

print(uk['is_quote'].value_counts())
print(uk['is_retweet'].value_counts())

1    40000
Name: is_quote, dtype: int64
1    40000
Name: is_retweet, dtype: int64

# Canada

In [15]:
canada = train[train['country'] ==  'canada'].reset_index(drop = True)

print(canada['is_quote'].value_counts())
print(canada['is_retweet'].value_counts())

1    40000
Name: is_quote, dtype: int64
1    40000
Name: is_retweet, dtype: int64

# Australia

In [16]:
australia = train[train['country'] ==  'australia'].reset_index(drop = True)

print(australia['is_quote'].value_counts())
print(australia['is_retweet'].value_counts())

0    23807
1    16193
Name: is_quote, dtype: int64
1    30785
0     9215
Name: is_retweet, dtype: int64

# New Zealand

In [17]:
new_zealand = train[train['country'] ==  'new_zealand'].reset_index(drop = True)

print(new_zealand['is_quote'].value_counts())
print(new_zealand['is_retweet'].value_counts())

0    33388
1     6612
Name: is_quote, dtype: int64
1    27658
0    12342
Name: is_retweet, dtype: int64

# Ireland

In [18]:
ireland = train[train['country'] ==  'ireland'].reset_index(drop = True)

print(ireland['is_quote'].value_counts())
print(ireland['is_retweet'].value_counts())

0    32600
1     7400
Name: is_quote, dtype: int64
1    27453
0    12547
Name: is_retweet, dtype: int64