In [ ]:
import boto3
import pandas as pd; pd.set_option('display.max_columns', 200)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sagemaker

Matplotlib is building the font cache; this may take a moment.

In [ ]:
s3 = boto3.resource('s3')
bucket_name = 'gabriel-data-science'
bucket = s3.Bucket(bucket_name)

sess = sagemaker.Session()

## Defining files names
file_key_1 = 'AmericanExpress/train_data.csv'
file_key_2 = 'AmericanExpress/train_labels.csv'

bucket_object_1 = bucket.Object(file_key_1)
file_object_1 = bucket_object_1.get()
file_content_stream_1 = file_object_1.get('Body')

bucket_object_2 = bucket.Object(file_key_2)
file_object_2 = bucket_object_2.get()
file_content_stream_2 = file_object_2.get('Body')

## Creating data-type dictionary for reading the train data-frame
dtype_dict = {'customer_ID': "object", 'S_2': "object", 'P_2': 'float16', 'B_1': 'float16', 'B_1': 'float16','B_2': 'float16',
              'R_1': 'float16','S_3': 'float16','D_41': 'float16','B_3': 'float16','D_42': 'float16','D_43': 'float16','D_44': 'float16',
              'B_4': 'float16','D_45': 'float16','B_5': 'float16','R_2': 'float16','D_46': 'float16','D_47': 'float16','D_48': 'float16',
              'D_49': 'float16','B_6': 'float16','B_7': 'float16','B_8': 'float16','D_50': 'float16','D_51': 'float16','B_9': 'float16',
              'R_3': 'float16','D_52': 'float16','P_3': 'float16','B_10': 'float16','D_53': 'float16','S_5': 'float16','B_11': 'float16',
              'S_6': 'float16','D_54': 'float16','R_4': 'float16','S_7': 'float16','B_12': 'float16','S_8': 'float16','D_55': 'float16',
              'D_56': 'float16','B_13': 'float16','R_5': 'float16','D_58': 'float16','S_9': 'float16','B_14': 'float16','D_59': 'float16',
              'D_60': 'float16','D_61': 'float16','B_15': 'float16','S_11': 'float16','D_62': 'float16','D_63': 'object','D_64': 'object',
              'B_2': 'float16','B_16': 'float16','B_17': 'float16','B_18': 'float16','B_19': 'float16','D_66': 'float16','B_20': 'float16',
              'D_68': 'float16','S_12': 'float16','R_6': 'float16','S_13': 'float16','B_21': 'float16','D_69': 'float16','B_22': 'float16',
              'D_70': 'float16','D_71': 'float16','D_72': 'float16','S_15': 'float16','B_23': 'float16','D_73': 'float16','P_4': 'float16',
              'D_74': 'float16','D_75': 'float16','D_76': 'float16','B_24': 'float16','R_7': 'float16','D_77': 'float16','B_25': 'float16',
              'B_26': 'float16','D_78': 'float16','D_79': 'float16','R_8': 'float16','R_9': 'float16','S_16': 'float16','D_80': 'float16',
              'R_10': 'float16','R_11': 'float16','B_27': 'float16','D_81': 'float16','D_82': 'float16','S_17': 'float16','R_12': 'float16',
              'B_28': 'float16','R_13': 'float16','D_83': 'float16','R_14': 'float16','R_15': 'float16','D_84': 'float16','R_16': 'float16',
              'B_29': 'float16','B_30': 'float16','S_18': 'float16','D_86': 'float16','D_87': 'float16','R_17': 'float16','R_18': 'float16',
              'D_88': 'float16','B_31': 'int64','S_19': 'float16','R_19': 'float16','B_32': 'float16','S_20': 'float16','R_20': 'float16',
              'R_21': 'float16','B_33': 'float16','D_89': 'float16','R_22': 'float16','R_23': 'float16','D_91': 'float16','D_92': 'float16',
              'D_93': 'float16','D_94': 'float16','R_24': 'float16','R_25': 'float16','D_96': 'float16','S_22': 'float16','S_23': 'float16',
              'S_24': 'float16','S_25': 'float16','S_26': 'float16','D_102': 'float16','D_103': 'float16','D_104': 'float16','D_105': 'float16',
              'D_106': 'float16','D_107': 'float16','B_36': 'float16','B_37': 'float16', 'R_26': 'float16','R_27': 'float16','B_38': 'float16',
              'D_108': 'float16','D_109': 'float16','D_110': 'float16','D_111': 'float16','B_39': 'float16','D_112': 'float16','B_40': 'float16',
              'S_27': 'float16','D_113': 'float16','D_114': 'float16','D_115': 'float16','D_116': 'float16','D_117': 'float16','D_118': 'float16',
              'D_119': 'float16','D_120': 'float16','D_121': 'float16','D_122': 'float16','D_123': 'float16','D_124': 'float16','D_125': 'float16',
              'D_126': 'float16','D_127': 'float16','D_128': 'float16','D_129': 'float16','B_41': 'float16','B_42': 'float16','D_130': 'float16',
              'D_131': 'float16','D_132': 'float16','D_133': 'float16','R_28': 'float16','D_134': 'float16','D_135': 'float16','D_136': 'float16',
              'D_137': 'float16','D_138': 'float16','D_139': 'float16','D_140': 'float16','D_141': 'float16','D_142': 'float16','D_143': 'float16',
              'D_144': 'float16','D_145': 'float16'}


## Reading data-files
train = pd.read_csv(file_content_stream_1, dtype = dtype_dict)
target = pd.read_csv(file_content_stream_2)

## Appending target variables
train = pd.merge(train, target, on = 'customer_ID', how = 'left')
train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,D_44,B_4,D_45,B_5,R_2,D_46,D_47,D_48,D_49,B_6,B_7,B_8,D_50,D_51,B_9,R_3,D_52,P_3,B_10,D_53,S_5,B_11,S_6,D_54,R_4,S_7,B_12,S_8,D_55,D_56,B_13,R_5,D_58,S_9,B_14,D_59,D_60,D_61,B_15,S_11,D_62,D_63,D_64,D_65,B_16,B_17,B_18,B_19,D_66,B_20,D_68,S_12,R_6,S_13,B_21,D_69,B_22,D_70,D_71,D_72,S_15,B_23,D_73,P_4,D_74,D_75,D_76,B_24,R_7,D_77,B_25,B_26,D_78,D_79,R_8,R_9,S_16,D_80,R_10,R_11,B_27,D_81,D_82,S_17,R_12,B_28,R_13,D_83,R_14,R_15,D_84,R_16,B_29,B_30,S_18,D_86,D_87,R_17,R_18,D_88,B_31,S_19,R_19,B_32,S_20,R_20,R_21,B_33,D_89,R_22,R_23,D_91,D_92,D_93,D_94,R_24,R_25,D_96,S_22,S_23,S_24,S_25,S_26,D_102,D_103,D_104,D_105,D_106,D_107,B_36,B_37,R_26,R_27,B_38,D_108,D_109,D_110,D_111,B_39,D_112,B_40,S_27,D_113,D_114,D_115,D_116,D_117,D_118,D_119,D_120,D_121,D_122,D_123,D_124,D_125,D_126,D_127,D_128,D_129,B_41,B_42,D_130,D_131,D_132,D_133,R_28,D_134,D_135,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938477,0.001733,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,NaN,NaN,0.000630,0.080994,0.708984,0.170654,0.006203,0.358643,0.525391,0.255615,NaN,0.063904,0.059418,0.006466,0.148682,1.335938,0.008209,0.001423,0.207275,0.736328,0.096191,NaN,0.023376,0.002768,0.008324,1.001953,0.008301,0.161377,0.148315,0.922852,0.354492,0.151978,0.118103,0.001882,0.158569,0.065735,0.018387,0.063660,0.199585,0.308350,0.016357,0.401611,0.091064,CR,O,0.007126,0.007664,NaN,0.652832,0.008522,NaN,0.004730,6.0,0.271973,0.008362,0.515137,0.002644,0.009010,0.004807,0.008339,0.119385,0.004803,0.108276,0.050873,NaN,0.007553,0.080444,0.069092,NaN,0.004326,0.007561,NaN,0.007729,0.000272,0.001575,0.004238,0.001434,NaN,0.002272,0.004059,0.007122,0.002457,0.002310,0.003532,0.506836,0.008034,1.009766,0.084656,0.003820,0.007042,0.000438,0.006451,0.000830,0.005054,NaN,0.0,0.005722,0.007084,NaN,0.000198,0.008911,NaN,1,0.002537,0.005177,0.006626,0.009705,0.007782,0.002449,1.000977,0.002665,0.007481,0.006893,1.503906,1.005859,0.003569,0.008873,0.003948,0.003647,0.004951,0.894043,0.135620,0.911133,0.974609,0.001244,0.766602,1.008789,1.004883,0.893555,NaN,0.669922,0.009972,0.004570,NaN,1.008789,2.0,NaN,0.004326,NaN,NaN,NaN,1.007812,0.210083,0.676758,0.007874,1.0,0.238281,0.0,4.0,0.232178,0.236206,0.0,0.702148,0.434326,0.003057,0.686523,0.008743,1.0,1.002930,1.007812,1.000000,0.006805,NaN,0.002052,0.005970,NaN,0.004345,0.001534,NaN,NaN,NaN,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,NaN,NaN,0.002525,0.069397,0.712891,0.113220,0.006207,0.353516,0.521484,0.223389,NaN,0.065247,0.057739,0.001614,0.149780,1.339844,0.008369,0.001984,0.202759,0.720703,0.099792,NaN,0.030594,0.002748,0.002481,1.008789,0.005135,0.140991,0.143555,0.919434,0.326660,0.156250,0.118713,0.001610,0.148438,0.093933,0.013039,0.065491,0.151367,0.265137,0.017685,0.406250,0.086792,CR,O,0.002413,0.007149,NaN,0.646973,0.002237,NaN,0.003880,6.0,0.188965,0.004028,0.509277,0.004192,0.007843,0.001283,0.006523,0.140625,0.000094,0.101013,0.040466,NaN,0.004833,0.081421,0.074158,NaN,0.004204,0.005302,NaN,0.001864,0.000978,0.009895,0.007599,0.000509,NaN,0.009811,0.000126,0.005966,0.000395,0.001327,0.007774,0.500977,0.000761,1.009766,0.081848,0.000347,0.007790,0.004311,0.002333,0.009468,0.003754,NaN,0.0,0.007584,0.006676,NaN,0.001143,0.005905,NaN,1,0.008430,0.008980,0.001854,0.009926,0.005989,0.002247,1.006836,0.002508,0.006828,0.002836,1.503906,1.005859,0.000571,0.000391,0.008354,0.008850,0.003180,0.902344,0.136353,0.919922,0.975586,0.004562,0.786133,1.000000,1.003906,0.906738,NaN,0.668457,0.003922,0.004654,NaN,1.002930,2.0,NaN,0.008705,NaN,NaN,NaN,1.007812,0.184082,0.822266,0.003445,1.0,0.247192,0.0,4.0,0.243530,0.241943,0.0,0.707031,0.430420,0.001306,0.686523,0.000755,1.0,1.008789,1.003906,1.008789,0.004406,NaN,0.001034,0.004837,NaN,0.007496,0.004932,NaN,NaN,NaN,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954102,0.091505,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,NaN,NaN,0.007607,0.068848,0.720703,0.060486,0.003260,0.334717,0.524414,0.189453,NaN,0.066956,0.056641,0.005127,0.151978,1.336914,0.009354,0.007427,0.206665,0.738281,0.134033,NaN,0.048370,0.010078,0.000530,1.008789,0.006962,0.112244,0.136963,1.001953,0.304199,0.153809,0.114563,0.006329,0.139526,0.084778,0.056641,0.070618,0.305908,0.212158,0.063965,0.406738,0.093994,CR,O,0.001878,0.003637,NaN,0.645996,0.000408,NaN,0.004578,6.0,0.495361,0.006840,0.679199,0.001336,0.006023,0.009392,0.002615,0.075867,0.007153,0.103210,0.047455,NaN,0.006561,0.078918,0.076538,NaN,0.001782,0.001422,NaN,0.005417,0.006149,0.009628,0.003094,0.008293,NaN,0.009361,0.000954,0.005447,0.007347,0.007626,0.008812,0.504395,0.004055,1.003906,0.081970,0.002710,0.004093,0.007141,0.008362,0.002325,0.007381,NaN,0.0,0.005901,0.001185,NaN,0.008011,0.008881,NaN,1,0.007328,0.002016,0.008690,0.008446,0.007290,0.007793,1.000977,0.009636,0.009819,0.005081,1.502930,1.005859,0.007427,0.009232,0.002472,0.009766,0.005432,0.939453,0.134888,0.958496,0.974121,0.011734,0.806641,1.002930,1.009766,0.928711,NaN,0.670898,0.001264,0.019180,NaN,1.000977,2.0,NaN,0.004093,NaN,NaN,NaN,1.003906,0.154785,0.853516,0.003269,1.0,0.239868,0.0,4.0,0.240723,0.239746,0.0,0.705078,0.434326,0.003956,0.689941,0.009621,1.0,1.009766,1.007812,1.006836,0.003222,NaN,0.005680,0.005497,NaN,0.009224,0.009125,NaN,NaN,NaN,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,NaN,NaN,0.006405,0.055634,0.724121,0.166748,0.009918,0.323242,0.530762,0.135620,NaN,0.083740,0.049255,0.001417,0.151245,1.339844,0.006783,0.003515,0.208252,0.741699,0.134399,NaN,0.030060,0.009666,0.000783,1.007812,0.008705,0.102844,0.129028,0.704102,0.275146,0.155762,0.120728,0.004978,0.138062,0.048370,0.012497,0.065918,0.273438,0.204346,0.022736,0.405273,0.094849,CR,O,0.005899,0.005894,NaN,0.654297,0.005898,NaN,0.005207,6.0,0.508789,0.008186,0.515137,0.008713,0.005272,0.004555,0.002052,0.150269,0.005363,0.206421,0.031708,NaN,0.009560,0.077515,0.071533,NaN,0.005596,0.006363,NaN,0.000646,0.009193,0.008568,0.003895,0.005154,NaN,0.004875,0.005665,0.001888,0.004963,0.000034,0.004650,0.508789,0.006969,1.004883,0.060638,0.009979,0.008820,0.008690,0.007362,0.005924,0.008804,NaN,0.0,0.002520,0.003325,NaN,0.009453,0.008347,NaN,1,0.007053,0.003910,0.002478,0.006615,0.009979,0.007687,1.002930,0.007790,0.000458,0.007320,1.503906,1.006836,0.000664,0.003201,0.008507,0.004856,0.000063,0.913086,0.140015,0.926270,0.975586,0.007572,0.808105,1.001953,1.004883,0.935547,NaN,0.672852,0.002729,0.011719,NaN,1.004883,2.0,NaN,0.009705,NaN,NaN,NaN,1.002930,0.153931,0.844727,0.000053,1.0,0.240967,0.0,4.0,0.239380,0.240723,0.0,0.711426,0.437012,0.005135,0.687988,0.004650,1.0,1.001953,1.003906,1.007812,0.007702,NaN,0.007107,0.008263,NaN,0.007206,0.002409,NaN,NaN,NaN,NaN,NaN,0.006119,0.004517,0.003201,NaN,0.008423,0.006527,0.009598,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,NaN,NaN,0.007732,0.038849,0.720703,0.143677,0.006668,0.230957,0.529297,NaN,NaN,0.075928,0.048920,0.001199,0.154053,1.341797,0.000519,0.001362,0.205444,0.691895,0.121521,NaN,0.054230,0.009483,0.006699,1.003906,0.003845,0.094299,0.129517,0.916992,0.231079,0.154907,0.095154,0.001654,0.126465,0.039246,0.027893,0.063721,0.233154,0.175659,0.031174,0.487549,0.093933,CR,O,0.009479,0.001715,NaN,0.649902,0.007774,NaN,0.005852,6.0,0.216553,0.008606,0.507812,0.006821,0.000152,0.000104,0.001419,0.096436,0.007973,0.106018,0.032745,NaN,0.008156,0.076538,0.074463,NaN,0.004932,0.004829,NaN,0.001833,0.005737,0.003288,0.002607,0.007339,NaN,0.007446,0.004463,0.006111,0.002247,0.002110,0.001141,0.506348,0.001770,1.000977,0.062500,0.005859,0.001844,0.007812,0.002470,0.005516,0.007168,NaN,0.0,0.000155,0.001504,NaN,0.002018,0.002678,NaN,1,0.007729,0.003431,0.002199,0.005512,0.004105,0.009659,1.006836,0.005157,0.003342,0.000264,1.509766,1.002930,0.003078,0.003845,0.007191,0.002983,0.000535,0.920898,0.131592,0.933594,0.978027,0.018204,0.822266,1.005859,1.005859,0.953125,NaN,0.673828,0.009995,0.017593,NaN,1.002930,2.0,NaN,0.009117,NaN,NaN,NaN,1.000000,0.120728,0.811035,0.008720,1.0,0.247925,0.0,4.0,0.244141,0.242310,0.0,0.705566,0.437500,0.002850,0.688965,0.000097,1.0,1.009766,1.004883,1.007812,0.009827,NaN,0.009682,0.004848,NaN,0.006313,0.004463,NaN,NaN,NaN,NaN,NaN,0.003672,0.004944,0.008888,NaN,0.001670,0.008125,0.009827,0

In [18]:
train.shape

(5531451, 191)

## categorical 'B_30', 'B_38'

## Feature Engineering of Balance Variables

In [19]:
## Selecting Balance variables
my_variables = train.columns
B_variables = [x for x in my_variables if x.startswith('B_')]
to_select = ['customer_ID', 'target']
for i in range(2, (len(B_variables) + 2)):
    to_select.append(B_variables[i-2])

balance_features = train[to_select]
balance_features.head()

,customer_ID,target,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,B_9,B_10,B_11,B_12,B_13,B_14,B_15,B_16,B_17,B_18,B_19,B_20,B_21,B_22,B_23,B_24,B_25,B_26,B_27,B_28,B_29,B_30,B_31,B_32,B_33,B_36,B_37,B_38,B_39,B_40,B_41,B_42
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0.008728,1.006836,0.004707,0.080994,0.170654,0.063904,0.059418,0.006466,0.008209,0.096191,0.002768,0.148315,0.118103,0.018387,0.016357,0.007664,NaN,0.652832,0.008522,0.004730,0.002644,0.004807,0.050873,0.004326,0.007729,0.000272,0.002310,0.084656,NaN,0.0,1,0.006626,1.000977,0.009972,0.004570,2.0,NaN,0.210083,0.006805,NaN
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0.004925,1.000977,0.002714,0.069397,0.113220,0.065247,0.057739,0.001614,0.008369,0.099792,0.002748,0.143555,0.118713,0.013039,0.017685,0.007149,NaN,0.646973,0.002237,0.003880,0.004192,0.001283,0.040466,0.004204,0.001864,0.000978,0.001327,0.081848,NaN,0.0,1,0.001854,1.006836,0.003922,0.004654,2.0,NaN,0.184082,0.004406,NaN
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0.021652,1.009766,0.009422,0.068848,0.060486,0.066956,0.056641,0.005127,0.009354,0.134033,0.010078,0.136963,0.114563,0.056641,0.063965,0.003637,NaN,0.645996,0.000408,0.004578,0.001336,0.009392,0.047455,0.001782,0.005417,0.006149,0.007626,0.081970,NaN,0.0,1,0.008690,1.000977,0.001264,0.019180,2.0,NaN,0.154785,0.003222,NaN
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0.013687,1.002930,0.005531,0.055634,0.166748,0.083740,0.049255,0.001417,0.006783,0.134399,0.009666,0.129028,0.120728,0.012497,0.022736,0.005894,NaN,0.654297,0.005898,0.005207,0.008713,0.004555,0.031708,0.005596,0.000646,0.009193,0.000034,0.060638,NaN,0.0,1,0.002478,1.002930,0.002729,0.011719,2.0,NaN,0.153931,0.007702,NaN
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0.015190,1.000977,0.009308,0.038849,0.143677,0.075928,0.048920,0.001199,0.000519,0.121521,0.009483,0.129517,0.095154,0.027893,0.031174,0.001715,NaN,0.649902,0.007774,0.005852,0.006821,0.000104,0.032745,0.004932,0.001833,0.005737,0.002110,0.062500,NaN,0.0,1,0.002199,1.006836,0.009995,0.017593,2.0,NaN,0.120728,0.009827,NaN

## Null Values

In [20]:
check_nan = balance_features[["customer_ID", "target", 'B_17', 'B_29', 'B_39', 'B_42']]
check_nan.head()

,customer_ID,target,B_17,B_29,B_39,B_42
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,NaN,NaN,NaN,NaN
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,NaN,NaN,NaN,NaN
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,NaN,NaN,NaN,NaN
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,NaN,NaN,NaN,NaN
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,NaN,NaN,NaN,NaN

## Target_0 & target_1

In [21]:
target_0 = check_nan[check_nan['target'] == 0]
target_1 = check_nan[check_nan['target'] == 1]

## B_17

In [22]:
## NaN in the whole dataset
round(np.isnan(check_nan['B_17']).value_counts() / check_nan.shape[0], 2)

True     0.57
False    0.43
Name: B_17, dtype: float64

In [23]:
## NaN in the target_0
round(np.isnan(target_0['B_17']).value_counts() / target_0.shape[0], 2)

True     0.66
False    0.34
Name: B_17, dtype: float64

In [24]:
## NaN in the target_1
round(np.isnan(target_1['B_17']).value_counts() / target_1.shape[0], 2)

False    0.72
True     0.28
Name: B_17, dtype: float64

\
data = 57% Null\
Target_0 == True: 66% \
Target_1 == True: 28%

## B_29

In [25]:
## NaN in the whole dataset
round(np.isnan(check_nan['B_29']).value_counts() / check_nan.shape[0], 2)

True     0.93
False    0.07
Name: B_29, dtype: float64

In [26]:
## NaN in the target_0
round(np.isnan(target_0['B_29']).value_counts() / target_0.shape[0], 2)

True     0.93
False    0.07
Name: B_29, dtype: float64

In [27]:
## NaN in the target_1
round(np.isnan(target_1['B_29']).value_counts() / target_1.shape[0], 2)

True     0.94
False    0.06
Name: B_29, dtype: float64

\
Target_0 == True: 93% \
Target_1 == True: 94%

Drop

## B_39

In [28]:
## NaN in the whole dataset
round(np.isnan(check_nan['B_39']).value_counts() / check_nan.shape[0], 2)

True     0.99
False    0.01
Name: B_39, dtype: float64

drop

## B_42

In [29]:
## NaN in the whole dataset
round(np.isnan(check_nan['B_42']).value_counts() / check_nan.shape[0], 2)

True     0.99
False    0.01
Name: B_42, dtype: float64

drop

### How many observation per customer?

In [30]:
ID = balance_features['customer_ID'].unique()

round(train.shape[0]/ID.shape[0],2)

12.05

## Feature Engineering

In [32]:
B1 = balance_features[['customer_ID', 'B_1', 'target']]

def test(x):
    
    b = {}
    b['B_1_mean'] = x['B_1'].mean()
    b['B_1_median'] = x['B_1'].median()
    b['B_1_min'] = x['B_1'].min()
    b['B_1_max'] = x['B_1'].max()
    b['B_1_range'] = x['B_1'].max() - x['B_1'].min()
    b['B_1_IQR'] = np.percentile(x['B_1'], 75) - np.percentile(x['B_1'], 25)
#     b['B_1_negative_count'] = np.sum(x['B_1'] < 0) 
    b['B_1_positive_count'] = np.sum(x['B_1'] > 0)
    b['B_1_values_above_mean'] = np.sum(x['B_1'] > x['B_1'].mean())
    
    return pd.Series(b, index = ['B_1_mean', 'B_1_median', 'B_1_min', 'B_1_max', 'B_1_range', 'B_1_IQR', 'B_1_negative_count', 'B_1_positive_count', 'B_1_values_above_mean'])


B_1 = B1.groupby('customer_ID').apply(test)
B_1

,B_1_mean,B_1_median,B_1_min,B_1_max,B_1_range,B_1_IQR,B_1_negative_count,B_1_positive_count,B_1_values_above_mean
customer_ID,,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.012009,0.013687,0.001930,0.021652,0.019714,0.009026,NaN,13.0,7.0
00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5,0.025650,0.011444,0.006710,0.109619,0.102905,0.024818,NaN,13.0,6.0
00001b22f846c82c51f6e3958ccd81970162bae8b007e80662ef27519fcc18c1,0.004387,0.003450,0.001472,0.009995,0.008522,0.004139,NaN,13.0,4.0
000041bdba6ecadd89a52d11886e8eaaec9325906c9723355abb5ca523658edc,0.059875,0.025116,0.005909,0.280029,0.274170,0.055771,NaN,13.0,4.0
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad51ca8b8c4a24cefed,0.005939,0.006344,0.000776,0.009804,0.009026,0.003536,NaN,13.0,7.0
...,...,...,...,...,...,...,...,...,...
ffff41c8a52833b56430603969b9ca48d208e7c192c6a4081a6acc28cf4f8af7,0.029190,0.028992,0.006084,0.051941,0.045868,0.023010,NaN,13.0,6.0
ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fdd3e5b57cfcbee30286,0.368408,0.359619,0.292480,0.452148,0.159668,0.079590,NaN,13.0,6.0
ffff9984b999fccb2b6127635ed0736dda94e544e67e026eee4d20f680639ff6,0.043030,0.028412,0.013000,0.162476,0.149414,0.033844,NaN,13.0,4.0
ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf388145b2c3d01967fcce461,0.018158,0.019180,0.000281,0.030563,0.030289,0.009727,NaN,13.0,7.0
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681,0.037964,0.029999,0.000077,0.119507,0.119446,0.033081,NaN,13.0,5.0

In [ ]:
data_out = B_1
data_out['customer_ID'] = data_out.index
data_out = data_out.reset_index(drop = True)
data_out

In [ ]:
## Joining the to datasets
data_out = pd.merge(target, data_out, on = 'customer_ID', how = 'left')
data_out = data_out.drop(columns = ['target'], axis = 1)
data_out

In [ ]:
balance_features = pd.merge(balance_features, data_out, on = 'customer_ID', how = 'left')
balance_features

In [ ]:
balance_features.to_csv("Balance_Features.csv", index=False)

In [48]:
import pandas as pd
Balance_Features = pd.read_csv("Balance_Features.csv")
Balance_Features.head()

,customer_ID,target,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,...,B_16_values_above_mean,B_18_mean,B_18_median,B_18_min,B_18_max,B_18_range,B_18_IQR,B_18_negative_count,B_18_positive_count,B_18_values_above_mean
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.008730,1.007,0.004707,0.08100,0.1707,0.06390,0.05942,0.006466,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.004925,1.001,0.002714,0.06940,0.1132,0.06525,0.05774,0.001614,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.021650,1.010,0.009420,0.06885,0.0605,0.06696,0.05664,0.005127,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.013690,1.003,0.005530,0.05563,0.1667,0.08374,0.04926,0.001417,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.015190,1.001,0.009310,0.03885,0.1437,0.07590,0.04892,0.001199,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0

In [74]:
Balance_Features.shape

(448901, 372)

In [49]:
Balance_Features.columns

Index(['customer_ID', 'target', 'B_1', 'B_2', 'B_3', 'B_4', 'B_5', 'B_6',
       'B_7', 'B_8',
       ...
       'B_16_values_above_mean', 'B_18_mean', 'B_18_median', 'B_18_min',
       'B_18_max', 'B_18_range', 'B_18_IQR', 'B_18_negative_count',
       'B_18_positive_count', 'B_18_values_above_mean'],
      dtype='object', length=372)

In [50]:
list(Balance_Features.columns)

['customer_ID',
 'target',
 'B_1',
 'B_2',
 'B_3',
 'B_4',
 'B_5',
 'B_6',
 'B_7',
 'B_8',
 'B_9',
 'B_10',
 'B_11',
 'B_12',
 'B_13',
 'B_14',
 'B_15',
 'B_16',
 'B_17',
 'B_18',
 'B_19',
 'B_20',
 'B_21',
 'B_22',
 'B_23',
 'B_24',
 'B_25',
 'B_26',
 'B_27',
 'B_28',
 'B_30',
 'B_31',
 'B_32',
 'B_33',
 'B_36',
 'B_37',
 'B_38',
 'B_40',
 'B_41',
 'B_1_mean',
 'B_1_median',
 'B_1_min',
 'B_1_max',
 'B_1_range',
 'B_1_IQR',
 'B_1_negative_count',
 'B_1_positive_count',
 'B_1_values_above_mean',
 'B_2_mean',
 'B_2_median',
 'B_2_min',
 'B_2_max',
 'B_2_range',
 'B_2_IQR',
 'B_2_negative_count',
 'B_2_positive_count',
 'B_2_values_above_mean',
 'B_3_mean',
 'B_3_median',
 'B_3_min',
 'B_3_max',
 'B_3_range',
 'B_3_IQR',
 'B_3_negative_count',
 'B_3_positive_count',
 'B_3_values_above_mean',
 'B_4_mean',
 'B_4_median',
 'B_4_min',
 'B_4_max',
 'B_4_range',
 'B_4_IQR',
 'B_4_negative_count',
 'B_4_positive_count',
 'B_4_values_above_mean',
 'B_5_mean',
 'B_5_median',
 'B_5_min',
 'B_5_max',
 'B_5_range',
 'B_5_IQR',
 'B_5_negative_count',
 'B_5_positive_count',
 'B_5_values_above_mean',
 'B_6_mean',
 'B_6_median',
 'B_6_min',
 'B_6_max',
 'B_6_range',
 'B_6_IQR',
 'B_6_negative_count',
 'B_6_positive_count',
 'B_6_values_above_mean',
 'B_7_mean',
 'B_7_median',
 'B_7_min',
 'B_7_max',
 'B_7_range',
 'B_7_IQR',
 'B_7_negative_count',
 'B_7_positive_count',
 'B_7_values_above_mean',
 'B_8_mean',
 'B_8_median',
 'B_8_min',
 'B_8_max',
 'B_8_range',
 'B_8_IQR',
 'B_8_negative_count',
 'B_8_positive_count',
 'B_8_values_above_mean',
 'B_12_mean',
 'B_12_median',
 'B_12_min',
 'B_12_max',
 'B_12_range',
 'B_12_IQR',
 'B_12_negative_count',
 'B_12_positive_count',
 'B_12_values_above_mean',
 'B_14_mean',
 'B_14_median',
 'B_14_min',
 'B_14_max',
 'B_14_range',
 'B_14_IQR',
 'B_14_negative_count',
 'B_14_positive_count',
 'B_14_values_above_mean',
 'B_13_mean',
 'B_13_median',
 'B_13_min',
 'B_13_max',
 'B_13_range',
 'B_13_IQR',
 'B_13_negative_count',
 'B_13_positive_count',
 'B_13_values_above_mean',
 'B_10_mean',
 'B_10_median',
 'B_10_min',
 'B_10_max',
 'B_10_range',
 'B_10_IQR',
 'B_10_negative_count',
 'B_10_positive_count',
 'B_10_values_above_mean',
 'B_15_mean_x',
 'B_15_median_x',
 'B_15_min_x',
 'B_15_max_x',
 'B_15_range_x',
 'B_15_IQR_x',
 'B_15_negative_count_x',
 'B_15_positive_count_x',
 'B_15_values_above_mean_x',
 'B_11_mean',
 'B_11_median',
 'B_11_min',
 'B_11_max',
 'B_11_range',
 'B_11_IQR',
 'B_11_negative_count',
 'B_11_positive_count',
 'B_11_values_above_mean',
 'B_17_mean',
 'B_17_median',
 'B_17_min',
 'B_17_max',
 'B_17_range',
 'B_17_IQR',
 'B_17_negative_count',
 'B_17_positive_count',
 'B_17_values_above_mean',
 'B_19_mean',
 'B_19_median',
 'B_19_min',
 'B_19_max',
 'B_19_range',
 'B_19_IQR',
 'B_19_negative_count',
 'B_19_positive_count',
 'B_19_values_above_mean',
 'B_21_mean_x',
 'B_21_median_x',
 'B_21_min_x',
 'B_21_max_x',
 'B_21_range_x',
 'B_21_IQR_x',
 'B_21_negative_count_x',
 'B_21_positive_count_x',
 'B_21_values_above_mean_x',
 'B_21_mean_y',
 'B_21_median_y',
 'B_21_min_y',
 'B_21_max_y',
 'B_21_range_y',
 'B_21_IQR_y',
 'B_21_negative_count_y',
 'B_21_positive_count_y',
 'B_21_values_above_mean_y',
 'B_20_mean',
 'B_20_median',
 'B_20_min',
 'B_20_max',
 'B_20_range',
 'B_20_IQR',
 'B_20_negative_count',
 'B_20_positive_count',
 'B_20_values_above_mean',
 'B_22_mean',
 'B_22_median',
 'B_22_min',
 'B_22_max',
 'B_22_range',
 'B_22_IQR',
 'B_22_negative_count',
 'B_22_positive_count',
 'B_22_values_above_mean',
 'B_23_mean',
 'B_23_median',
 'B_23_min',
 'B_23_max',
 'B_23_range',
 'B_23_IQR',
 'B_23_negative_count',
 'B_23_positive_count',
 'B_23_values_above_mean',
 'B_24_mean',
 'B_24_median',
 'B_24_min',
 'B_24_max',
 'B_24_range',
 'B_24_IQR',
 'B_24_negative_count',
 'B_24_positive_count',
 'B_24_values_above_mean',
 'B_25_mean',
 'B_25_median',
 'B_25_min',
 'B_25_max',
 'B_25_range',
 'B_25_IQR',
 'B_25_negative_count',
 'B_25_positive_count',
 'B_25_values_above_mean',
 'B_26_mean',
 'B_26_median',
 'B_26_min',
 'B_26_max',
 'B_26_range',
 'B_26_IQR',
 'B_26_negative_count',
 'B_26_positive_count',
 'B_26_values_above_mean',
 'B_27_mean',
 'B_27_median',
 'B_27_min',
 'B_27_max',
 'B_27_range',
 'B_27_IQR',
 'B_27_negative_count',
 'B_27_positive_count',
 'B_27_values_above_mean',
 'B_28_mean',
 'B_28_median',
 'B_28_min',
 'B_28_max',
 'B_28_range',
 'B_28_IQR',
 'B_28_negative_count',
 'B_28_positive_count',
 'B_28_values_above_mean',
 'B_31_mean',
 'B_31_median',
 'B_31_min',
 'B_31_max',
 'B_31_range',
 'B_31_IQR',
 'B_31_negative_count',
 'B_31_positive_count',
 'B_31_values_above_mean',
 'B_32_mean',
 'B_32_median',
 'B_32_min',
 'B_32_max',
 'B_32_range',
 'B_32_IQR',
 'B_32_negative_count',
 'B_32_positive_count',
 'B_32_values_above_mean',
 'B_33_mean',
 'B_33_median',
 'B_33_min',
 'B_33_max',
 'B_33_range',
 'B_33_IQR',
 'B_33_negative_count',
 'B_33_positive_count',
 'B_33_values_above_mean',
 'B_36_mean',
 'B_36_median',
 'B_36_min',
 'B_36_max',
 'B_36_range',
 'B_36_IQR',
 'B_36_negative_count',
 'B_36_positive_count',
 'B_36_values_above_mean',
 'B_37_mean',
 'B_37_median',
 'B_37_min',
 'B_37_max',
 'B_37_range',
 'B_37_IQR',
 'B_37_negative_count',
 'B_37_positive_count',
 'B_37_values_above_mean',
 'B_40_mean',
 'B_40_median',
 'B_40_min',
 'B_40_max',
 'B_40_range',
 'B_40_IQR',
 'B_40_negative_count',
 'B_40_positive_count',
 'B_40_values_above_mean',
 'B_41_mean',
 'B_41_median',
 'B_41_min',
 'B_41_max',
 'B_41_range',
 'B_41_IQR',
 'B_41_negative_count',
 'B_41_positive_count',
 'B_41_values_above_mean',
 'B_9_mean',
 'B_9_median',
 'B_9_min',
 'B_9_max',
 'B_9_range',
 'B_9_IQR',
 'B_9_negative_count',
 'B_9_positive_count',
 'B_9_values_above_mean',
 'B_15_mean_y',
 'B_15_median_y',
 'B_15_min_y',
 'B_15_max_y',
 'B_15_range_y',
 'B_15_IQR_y',
 'B_15_negative_count_y',
 'B_15_positive_count_y',
 'B_15_values_above_mean_y',
 'B_16_mean',
 'B_16_median',
 'B_16_min',
 'B_16_max',
 'B_16_range',
 'B_16_IQR',
 'B_16_negative_count',
 'B_16_positive_count',
 'B_16_values_above_mean',
 'B_18_mean',
 'B_18_median',
 'B_18_min',
 'B_18_max',
 'B_18_range',
 'B_18_IQR',
 'B_18_negative_count',
 'B_18_positive_count',
 'B_18_values_above_mean']

In [4]:
import boto3
import pandas as pd; pd.set_option('display.max_columns', 200)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sagemaker
bucket_name = 'gabriel-data-science'
sess = sagemaker.Session()

#sess.upload_data(path = 'Balance_Features.csv', 
                 #bucket = bucket_name,
                # key_prefix = 'AmericanExpress')

In [51]:
Balance_Features.shape

(448901, 372)

In [56]:

import boto3
import os
import sagemaker

sess = sagemaker.Session()

s3 = boto3.resource('s3')
bucket_name = 'gabriel-data-science'
bucket = s3.Bucket(bucket_name)


## Defining files names
file_key_1 = 'AmericanExpress/Balance_Features.csv'
bucket_object_1 = bucket.Object(file_key_1)
file_object_1 = bucket_object_1.get()
file_content_stream_1 = file_object_1.get('Body')

balance_features = pd.read_csv(file_content_stream_1)
balance_features.head()

,customer_ID,target,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,...,B_16_values_above_mean,B_18_mean,B_18_median,B_18_min,B_18_max,B_18_range,B_18_IQR,B_18_negative_count,B_18_positive_count,B_18_values_above_mean
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.008730,1.007,0.004707,0.08100,0.1707,0.06390,0.05942,0.006466,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.004925,1.001,0.002714,0.06940,0.1132,0.06525,0.05774,0.001614,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.021650,1.010,0.009420,0.06885,0.0605,0.06696,0.05664,0.005127,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.013690,1.003,0.005530,0.05563,0.1667,0.08374,0.04926,0.001417,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.015190,1.001,0.009310,0.03885,0.1437,0.07590,0.04892,0.001199,...,7.0,0.842662,1.005,0.646,1.008,NaN,0.355,NaN,13.0,7.0

In [57]:
balance_features.shape

(448901, 372)

In [55]:
balance_features.describe()

,target,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,B_9,...,B_16_values_above_mean,B_18_mean,B_18_median,B_18_min,B_18_max,B_18_range,B_18_IQR,B_18_negative_count,B_18_positive_count,B_18_values_above_mean
count,448901.000000,448901.000000,448740.000000,4.487400e+05,4.489010e+05,4.489010e+05,448884.000000,448901.000000,447073.000000,448901.000000,...,448900.000000,448900.000000,448900.000000,4.489000e+05,448900.000000,0.0,448900.000000,0.0,448900.000000,448900.00000
mean,0.251880,0.126014,0.618088,1.346163e-01,1.758389e-01,8.461811e-02,0.148957,0.188562,0.452594,0.190732,...,5.918572,0.592818,0.594523,4.445696e-01,0.724175,NaN,0.110867,NaN,12.620307,6.54100
std,0.434093,0.214402,0.402453,2.367687e-01,2.264552e-01,5.119947e-01,0.811756,0.232363,0.497224,0.284373,...,2.153589,0.339310,0.366516,3.370391e-01,0.338318,NaN,0.172159,NaN,1.480030,2.86105
min,0.000000,-1.833000,0.000001,1.000000e-07,2.400000e-07,6.000000e-08,-0.004700,-1.514000,0.000000,0.000000,...,0.000000,0.000254,0.000254,9.500000e-07,0.000254,NaN,0.000000,NaN,1.000000,0.00000
25%,0.000000,0.008890,0.101600,5.272000e-03,2.774000e-02,7.290000e-03,0.020050,0.028410,0.004510,0.005764,...,5.000000,0.260046,0.207300,1.473000e-01,0.527000,NaN,0.004600,NaN,13.000000,5.00000
50%,0.000000,0.031700,0.814500,9.840000e-03,8.340000e-02,1.533000e-02,0.081300,0.077000,0.009050,0.026140,...,6.000000,0.616111,0.646000,3.403000e-01,1.004000,NaN,0.007000,NaN,13.000000,6.00000
75%,1.000000,0.129800,1.002000,1.609000e-01,2.451000e-01,5.264000e-02,0.191400,0.276000,1.004000,0.339600,...,7.000000,0.954333,1.004000,6.880000e-01,1.009000,NaN,0.151300,NaN,13.000000,8.00000
max,1.000000,1.324000,1.010000,1.625000e+00,2.838000e+00,8.100000e+01,264.500000,1.253000,1.014000,17.520000,...,12.000000,1.010000,1.010000,1.010000e+00,1.010000,NaN,0.949100,NaN,13.000000,12.00000

In [58]:
balance_features.isna().sum().sum()

33164487

In [93]:
null_values = pd.DataFrame(balance_features.isnull().sum().sort_values(ascending = False)).reset_index().rename(columns={"index": "Features", 0: "N_null_values"})
null_values = null_values[null_values['N_null_values'] != 0]
null_values

                     Features  N_null_values
0                  B_36_range         448901
1         B_36_negative_count         448901
2          B_3_negative_count         448901
3                  B_26_range         448901
4         B_11_negative_count         448901
..                        ...            ...
261                B_21_IQR_x              1
262              B_21_range_x              1
263                B_21_min_x              1
264  B_21_values_above_mean_x              1
265               B_21_mean_x              1

[266 rows x 2 columns]

In [94]:
null_values.shape

(266, 2)

In [95]:
null_values['Percentage'] = null_values['N_null_values']/448901
null_values['Percentage'] = null_values['Percentage'].astype(float)
null_values = null_values[null_values["Percentage"] > 0.9]
null_values

                 Features  N_null_values  Percentage
0              B_36_range         448901         1.0
1     B_36_negative_count         448901         1.0
2      B_3_negative_count         448901         1.0
3              B_26_range         448901         1.0
4     B_11_negative_count         448901         1.0
5     B_26_negative_count         448901         1.0
6   B_15_negative_count_x         448901         1.0
7              B_27_range         448901         1.0
8   B_15_negative_count_y         448901         1.0
9            B_15_range_y         448901         1.0
10    B_40_negative_count         448901         1.0
11     B_1_negative_count         448901         1.0
12     B_4_negative_count         448901         1.0
13    B_10_negative_count         448901         1.0
14    B_19_negative_count         448901         1.0
15    B_27_negative_count         448901         1.0
16    B_31_negative_count         448901         1.0
17             B_41_range         448901         1.0
18    B_41_negative_count         448901         1.0
19     B_2_negative_count         448901         1.0
20             B_31_range         448901         1.0
21     B_9_negative_count         448901         1.0
22             B_28_range         448901         1.0
23    B_13_negative_count         448901         1.0
24              B_9_range         448901         1.0
25    B_28_negative_count         448901         1.0
26    B_17_negative_count         448901         1.0
27    B_14_negative_count         448901         1.0
28             B_40_range         448901         1.0
29    B_12_negative_count         448901         1.0
30    B_33_negative_count         448901         1.0
31     B_7_negative_count         448901         1.0
32     B_6_negative_count         448901         1.0
33    B_18_negative_count         448901         1.0
34             B_33_range         448901         1.0
35    B_23_negative_count         448901         1.0
36             B_18_range         448901         1.0
37     B_8_negative_count         448901         1.0
38    B_22_negative_count         448901         1.0
39    B_32_negative_count         448901         1.0
40    B_20_negative_count         448901         1.0
41  B_21_negative_count_y         448901         1.0
42    B_24_negative_count         448901         1.0
43             B_37_range         448901         1.0
44     B_5_negative_count         448901         1.0
45  B_21_negative_count_x         448901         1.0
46    B_37_negative_count         448901         1.0
47             B_32_range         448901         1.0
48             B_25_range         448901         1.0
49    B_16_negative_count         448901         1.0
50             B_16_range         448901         1.0
51    B_25_negative_count         448901         1.0

In [115]:
columns_to_drop = list(null_values['Features'])

In [116]:
null_values.shape

(52, 3)

In [117]:
balance_features.shape

(448901, 372)

In [118]:
balance_features = balance_features.drop(columns= columns_to_drop)
balance_features.shape

(448901, 320)

In [120]:
null_values = pd.DataFrame(balance_features.isnull().sum().sort_values(ascending = False)).reset_index().rename(columns={"index": "Features", 0: "N_null_values"})
null_values = null_values[null_values['N_null_values'] != 0]
null_values['Percentage'] = null_values['N_null_values']/448901
null_values

                   Features  N_null_values  Percentage
0                  B_17_IQR         315085    0.701903
1                      B_17         252851    0.563267
2               B_17_median         201045    0.447860
3                 B_17_mean         201045    0.447860
4                B_17_range         201045    0.447860
..                      ...            ...         ...
209             B_21_mean_x              1    0.000002
210  B_19_values_above_mean              1    0.000002
211     B_19_positive_count              1    0.000002
212           B_21_median_x              1    0.000002
213  B_17_values_above_mean              1    0.000002

[214 rows x 3 columns]

In [122]:
balance_features = balance_features.drop(columns = ["B_17_IQR"])

In [17]:
balance_features.to_csv('Balance_Features.csv', index=False)

In [124]:
balance_features.shape

(448901, 319)

In [34]:
sess.upload_data(path = 'Balance_Features.csv', 
                 bucket = bucket_name,
                 key_prefix = 'AmericanExpress')

's3://gabriel-data-science/AmericanExpress/Balance_Features.csv'

In [126]:
null_values = pd.DataFrame(balance_features.isnull().sum().sort_values(ascending = False)).reset_index().rename(columns={"index": "Features", 0: "N_null_values"})
null_values = null_values[null_values['N_null_values'] != 0]
null_values['Percentage'] = null_values['N_null_values']/448901
null_values

                   Features  N_null_values  Percentage
0                      B_17         252851    0.563267
1                 B_17_mean         201045    0.447860
2               B_17_median         201045    0.447860
3                  B_17_min         201045    0.447860
4                  B_17_max         201045    0.447860
..                      ...            ...         ...
208             B_21_mean_x              1    0.000002
209  B_19_values_above_mean              1    0.000002
210     B_19_positive_count              1    0.000002
211           B_21_median_x              1    0.000002
212  B_17_values_above_mean              1    0.000002

[213 rows x 3 columns]

In [127]:
print(list(null_values['Features']))

['B_17', 'B_17_mean', 'B_17_median', 'B_17_min', 'B_17_max', 'B_17_range', 'B_25_IQR', 'B_15_IQR_y', 'B_41_IQR', 'B_25_median', 'B_25_mean', 'B_25_min', 'B_15_mean_y', 'B_15_median_y', 'B_15_min_y', 'B_15_max_y', 'B_25_max', 'B_37_IQR', 'B_37_median', 'B_41_median', 'B_37_values_above_mean', 'B_37_positive_count', 'B_37_max', 'B_37_min', 'B_37_mean', 'B_23_mean', 'B_23_median', 'B_23_min', 'B_23_max', 'B_32_values_above_mean', 'B_32_positive_count', 'B_32_IQR', 'B_32_max', 'B_32_min', 'B_23_range', 'B_23_IQR', 'B_23_positive_count', 'B_23_values_above_mean', 'B_32_median', 'B_32_mean', 'B_28_values_above_mean', 'B_28_positive_count', 'B_28_max', 'B_28_min', 'B_28_median', 'B_28_mean', 'B_25_values_above_mean', 'B_25_positive_count', 'B_41_mean', 'B_28_IQR', 'B_41_positive_count', 'B_15_values_above_mean_y', 'B_41_max', 'B_15_positive_count_y', 'B_41_values_above_mean', 'B_41_min', 'B_13_IQR', 'B_8_IQR', 'B_13', 'B_8', 'B_15_IQR_x', 'B_20_IQR', 'B_27_IQR', 'B_26_IQR', 'B_19_IQR', 'B_22_IQR', 'B_16_IQR', 'B_33_IQR', 'B_2_IQR', 'B_3_IQR', 'B_15', 'B_25', 'B_8_min', 'B_8_max', 'B_8_range', 'B_8_mean', 'B_8_median', 'B_15_mean_x', 'B_15_median_x', 'B_15_max_x', 'B_15_range_x', 'B_15_min_x', 'B_13_max', 'B_13_min', 'B_13_median', 'B_13_mean', 'B_13_range', 'B_22', 'B_20', 'B_16', 'B_26', 'B_27', 'B_30', 'B_33', 'B_3', 'B_2', 'B_19', 'B_38', 'B_41', 'B_40_IQR', 'B_6_IQR', 'B_6', 'B_37', 'B_40', 'B_19_range', 'B_20_mean', 'B_22_min', 'B_19_mean', 'B_22_max', 'B_20_max', 'B_20_median', 'B_20_min', 'B_19_max', 'B_19_min', 'B_20_range', 'B_22_mean', 'B_22_median', 'B_22_range', 'B_19_median', 'B_26_mean', 'B_27_mean', 'B_26_median', 'B_16_mean', 'B_27_max', 'B_27_median', 'B_16_median', 'B_16_min', 'B_16_max', 'B_26_max', 'B_26_min', 'B_27_min', 'B_33_min', 'B_3_range', 'B_3_max', 'B_3_min', 'B_3_median', 'B_2_min', 'B_3_mean', 'B_2_range', 'B_2_max', 'B_33_mean', 'B_2_median', 'B_2_mean', 'B_33_median', 'B_33_max', 'B_6_mean', 'B_6_min', 'B_6_max', 'B_6_median', 'B_6_range', 'B_18_median', 'B_16_values_above_mean', 'B_20_values_above_mean', 'B_20_positive_count', 'B_18_mean', 'B_18_max', 'B_18_min', 'B_26_positive_count', 'B_18_IQR', 'B_18_positive_count', 'B_21_values_above_mean_y', 'B_21_positive_count_y', 'B_16_positive_count', 'B_24_positive_count', 'B_26_values_above_mean', 'B_24_values_above_mean', 'B_24_IQR', 'B_24_range', 'B_24_max', 'B_24_min', 'B_24_median', 'B_24_mean', 'B_27_positive_count', 'B_27_values_above_mean', 'B_21_range_y', 'B_22_positive_count', 'B_22_values_above_mean', 'B_21_IQR_y', 'customer_ID', 'B_21_max_y', 'B_11_positive_count', 'B_11_range', 'B_11_max', 'B_11_min', 'B_11_median', 'B_11_mean', 'B_15_values_above_mean_x', 'B_15_positive_count_x', 'B_10_values_above_mean', 'B_10_positive_count', 'B_10_IQR', 'B_10_range', 'B_10_max', 'B_10_min', 'B_10_median', 'B_21_min_y', 'B_11_IQR', 'B_18_values_above_mean', 'B_11_values_above_mean', 'B_21_max_x', 'B_21_median_y', 'B_21_mean_y', 'B_21_values_above_mean_x', 'B_21_positive_count_x', 'B_21_IQR_x', 'B_21_range_x', 'B_17_positive_count', 'B_21_min_x', 'B_21_mean_x', 'B_19_values_above_mean', 'B_19_positive_count', 'B_21_median_x', 'B_17_values_above_mean']

In [19]:
import pandas as pd
import boto3
import os
import sagemaker

sess = sagemaker.Session()

s3 = boto3.resource('s3')
bucket_name = 'gabriel-data-science'
bucket = s3.Bucket(bucket_name)


## Defining files names
file_key_1 = 'AmericanExpress/Balance_Features.csv'
bucket_object_1 = bucket.Object(file_key_1)
file_object_1 = bucket_object_1.get()
file_content_stream_1 = file_object_1.get('Body')

balance_features = pd.read_csv(file_content_stream_1)
balance_features.head()

,customer_ID,target,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,...,B_16_IQR,B_16_positive_count,B_16_values_above_mean,B_18_mean,B_18_median,B_18_min,B_18_max,B_18_IQR,B_18_positive_count,B_18_values_above_mean
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.008730,1.007,0.004707,0.08100,0.1707,0.06390,0.05942,0.006466,...,0.004518,13.0,7.0,0.842662,1.005,0.646,1.008,0.355,13.0,7.0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.004925,1.001,0.002714,0.06940,0.1132,0.06525,0.05774,0.001614,...,0.004518,13.0,7.0,0.842662,1.005,0.646,1.008,0.355,13.0,7.0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.021650,1.010,0.009420,0.06885,0.0605,0.06696,0.05664,0.005127,...,0.004518,13.0,7.0,0.842662,1.005,0.646,1.008,0.355,13.0,7.0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.013690,1.003,0.005530,0.05563,0.1667,0.08374,0.04926,0.001417,...,0.004518,13.0,7.0,0.842662,1.005,0.646,1.008,0.355,13.0,7.0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.015190,1.001,0.009310,0.03885,0.1437,0.07590,0.04892,0.001199,...,0.004518,13.0,7.0,0.842662,1.005,0.646,1.008,0.355,13.0,7.0

In [36]:
balance_features.shape

(448901, 304)

In [29]:
null_values = pd.DataFrame(balance_features.isnull().sum().sort_values(ascending = False)).reset_index().rename(columns={"index": "Features", 0: "N_null_values"})
null_values = null_values[null_values['N_null_values'] > 0.4]
null_values['Percentage'] = null_values['N_null_values']/448901
null_values = null_values[null_values['Percentage'] > 0.3]
print(list(null_values['Features']))

['B_17', 'B_17_median', 'B_17_range', 'B_17_max', 'B_17_min', 'B_17_mean', 'B_25_IQR', 'B_41_IQR', 'B_25_median', 'B_25_mean', 'B_25_min', 'B_25_max', 'B_37_IQR', 'B_32_max', 'B_32_min', 'B_32_mean', 'B_32_median', 'B_32_IQR', 'B_28_positive_count', 'B_32_positive_count', 'B_32_values_above_mean', 'B_37_mean', 'B_37_median', 'B_37_min', 'B_37_max', 'B_28_values_above_mean', 'B_25_values_above_mean', 'B_28_IQR', 'B_28_max', 'B_28_min', 'B_28_mean', 'B_37_values_above_mean', 'B_25_positive_count', 'B_23_values_above_mean', 'B_23_positive_count', 'B_23_IQR', 'B_23_range', 'B_23_max', 'B_23_min', 'B_23_median', 'B_23_mean', 'B_37_positive_count', 'B_28_median', 'B_41_mean', 'B_41_median', 'B_41_min', 'B_41_max', 'B_41_positive_count', 'B_41_values_above_mean']

In [30]:
balance_features = balance_features.drop(columns= ['B_17', 'B_17_median', 'B_17_range', 'B_17_max', 'B_17_min', 'B_17_mean', 'B_25_IQR', 'B_41_IQR', 'B_25_median', 'B_25_mean', 'B_25_min', 'B_25_max', 'B_37_IQR', 'B_32_max', 'B_32_min', 'B_32_mean', 'B_32_median', 'B_32_IQR', 'B_28_positive_count', 'B_32_positive_count', 'B_32_values_above_mean', 'B_37_mean', 'B_37_median', 'B_37_min', 'B_37_max', 'B_28_values_above_mean', 'B_25_values_above_mean', 'B_28_IQR', 'B_28_max', 'B_28_min', 'B_28_mean', 'B_37_values_above_mean', 'B_25_positive_count', 'B_23_values_above_mean', 'B_23_positive_count', 'B_23_IQR', 'B_23_range', 'B_23_max', 'B_23_min', 'B_23_median', 'B_23_mean', 'B_37_positive_count', 'B_28_median', 'B_41_mean', 'B_41_median', 'B_41_min', 'B_41_max', 'B_41_positive_count', 'B_41_values_above_mean'])
balance_features.shape

(448901, 255)

In [32]:
null_values = pd.DataFrame(balance_features.isnull().sum().sort_values(ascending = False)).reset_index().rename(columns={"index": "Features", 0: "N_null_values"})
null_values = null_values[null_values['N_null_values'] != 0]
null_values['Percentage'] = null_values['N_null_values']/448901
print(list(null_values['Features']))

['B_13_IQR', 'B_8_IQR', 'B_13', 'B_8', 'B_15_IQR', 'B_19_IQR', 'B_22_IQR', 'B_26_IQR', 'B_20_IQR', 'B_16_IQR', 'B_27_IQR', 'B_33_IQR', 'B_2_IQR', 'B_3_IQR', 'B_25', 'B_15', 'B_8_min', 'B_8_mean', 'B_8_max', 'B_8_median', 'B_8_range', 'B_15_max', 'B_15_min', 'B_15_range', 'B_15_median', 'B_15_mean', 'B_13_mean', 'B_13_range', 'B_13_max', 'B_13_median', 'B_13_min', 'B_22', 'B_2', 'B_19', 'B_20', 'B_38', 'B_26', 'B_30', 'B_3', 'B_16', 'B_33', 'B_27', 'B_41', 'B_40_IQR', 'B_6_IQR', 'B_6', 'B_40', 'B_37', 'B_22_max', 'B_22_range', 'B_26_max', 'B_19_mean', 'B_26_min', 'B_26_median', 'B_26_mean', 'B_22_min', 'B_16_min', 'B_20_range', 'B_22_median', 'B_16_median', 'B_16_max', 'B_16_mean', 'B_19_max', 'B_19_range', 'B_27_max', 'B_22_mean', 'B_27_min', 'B_20_mean', 'B_27_median', 'B_20_min', 'B_20_max', 'B_27_mean', 'B_19_min', 'B_19_median', 'B_20_median', 'B_6_max', 'B_6_median', 'B_6_range', 'B_6_min', 'B_3_mean', 'B_6_mean', 'B_2_range', 'B_33_max', 'B_33_min', 'B_33_median', 'B_33_mean', 'B_2_mean', 'B_2_min', 'B_2_max', 'B_2_median', 'B_3_median', 'B_3_min', 'B_3_max', 'B_3_range', 'B_11_IQR', 'B_17_positive_count', 'B_19_values_above_mean', 'B_19_positive_count', 'B_11_mean', 'B_11_median', 'B_11_min', 'B_11_positive_count', 'B_11_values_above_mean', 'B_21_median', 'B_11_max', 'B_11_range', 'B_17_values_above_mean', 'B_21_mean', 'customer_ID', 'B_21_min', 'B_24_positive_count', 'B_18_positive_count', 'B_18_IQR', 'B_18_max', 'B_18_min', 'B_18_median', 'B_18_mean', 'B_16_values_above_mean', 'B_16_positive_count', 'B_27_values_above_mean', 'B_27_positive_count', 'B_26_values_above_mean', 'B_26_positive_count', 'B_24_values_above_mean', 'B_24_IQR', 'B_21_max', 'B_24_range', 'B_15_values_above_mean', 'B_24_min', 'B_24_median', 'B_24_mean', 'B_22_values_above_mean', 'B_22_positive_count', 'B_20_values_above_mean', 'B_20_positive_count', 'B_21_values_above_mean', 'B_21_positive_count', 'B_21_IQR', 'B_21_range', 'B_24_max', 'B_10_median', 'B_15_positive_count', 'B_10_max', 'B_10_values_above_mean', 'B_10_min', 'B_18_values_above_mean', 'B_10_range', 'B_10_positive_count', 'B_10_IQR']

In [33]:
balance_features.shape

(448901, 255)

In [ ]:
sess.upload_data(path = 'Balance_Features.csv', 
                 bucket = bucket_name,
                 key_prefix = 'AmericanExpress')

In [35]:
import pandas as pd
import boto3
import os
import sagemaker

sess = sagemaker.Session()

s3 = boto3.resource('s3')
bucket_name = 'gabriel-data-science'
bucket = s3.Bucket(bucket_name)


## Defining files names
file_key_1 = 'AmericanExpress/Balance_Features.csv'
bucket_object_1 = bucket.Object(file_key_1)
file_object_1 = bucket_object_1.get()
file_content_stream_1 = file_object_1.get('Body')

balance_features = pd.read_csv(file_content_stream_1)
balance_features.shape

(448901, 304)