In [1]:
import pandas as pd
import numpy as np
import miceforest as mf

train = pd.read_csv('/home/ec2-user/SageMaker/Analytics_Data_Science/American_Express/Evan/amex_train_payment_spend.csv')
train.head()

,customer_ID,P_2_mean,P_2_median,P_2_sum,P_2_data_range,P_2_iqr,P_2_correlation,P_3_mean,P_3_median,P_3_sum,...,S_22_count,S_23_count,S_25_count,P_3_count_binary,S_3_count_binary,S_7_count_binary,S_22_count_binary,S_23_count_binary,S_25_count_binary,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.9336,0.9385,12.140,0.09180,0.012695,-0.438767,0.6800,0.690,8.840,...,13,13,13,1,1,1,1,1,1,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.9000,0.9050,11.695,0.06790,0.038086,-0.854416,0.5670,0.571,7.367,...,13,13,13,1,1,1,1,1,1,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,0.8784,0.8850,11.420,0.10645,0.027344,-0.109422,0.6180,0.630,8.040,...,13,13,13,1,0,0,1,1,1,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,0.5990,0.5980,7.785,0.05615,0.033203,0.953176,0.6110,0.623,7.940,...,13,13,13,1,1,1,1,1,1,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,0.8916,0.8794,11.590,0.13530,0.071289,-0.597527,0.5273,0.560,6.855,...,13,13,13,1,1,1,1,1,1,0

In [2]:
train.shape

(458913, 70)

In [3]:
## Imputing the train data-frame using the Mice Forest library

## Defining the input variables and dropping categorical variables
mf_train = train.drop(columns = ['customer_ID', 'target'])

# Building the miceforest kernel
kernel_train = mf.ImputationKernel(mf_train, datasets = 5, save_all_iterations = True)

## Assigning the final imputed data-frames
train_impute = kernel_train.complete_data(dataset = 0, inplace = False)

## Adding "customer_ID" back into the data-frames
train_impute = pd.concat([train[['customer_ID', 'target']], train_impute], axis = 1)

In [ ]:
## Subsetting the data to include only the top-11 features
amex_train_payment_spend_final = train_impute[['customer_ID', 'P_2_mean', 'P_2_median' ,'P_2_correlation' ,'P_3_mean' ,'P_2_sum' ,'S_25_mean' ,
                                               'S_25_sum' ,'S_25_std' ,'S_25_mad' ,'S_25_data_range' ,'S_25_iqr', 'target']]

## Returning the resulting data-frame as a csv file
amex_train_payment_spend_final.to_csv('amex_train_payment_spend_final.csv', index = False)