In [1]:
pip install xgboost lightgbm catboost optuna

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-manylinux2014_x86_64.whl (193.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.6/193.6 MB 4.1 MB/s eta 0:00:0000:0100:01
Collecting lightgbm
  Downloading lightgbm-3.3.5-py3-none-manylinux1_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 26.9 MB/s eta 0:00:00:00:01
Collecting catboost
  Downloading catboost-1.1.1-cp310-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 7.6 MB/s eta 0:00:00:00:0100:01
Collecting optuna
  Downloading optuna-3.1.0-py3-none-any.whl (365 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 365.3/365.3 kB 8.9 MB/s eta 0:00:0000:01
Requirement already satisfied: scipy in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from xgboost) (1.9.3)
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from lightgbm) (1.1.3)
Requirement already satisfied: wheel in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from lightgbm) (0.37.1)
Collecting graphviz
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.0/47.0 kB 9.7 MB/s eta 0:00:00
Requirement already satisfied: plotly in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from catboost) (5.11.0)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from catboost) (1.16.0)
Requirement already satisfied: matplotlib in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from catboost) (3.6.1)
Requirement already satisfied: pandas>=0.24.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from catboost) (1.5.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from optuna) (1.4.42)
Requirement already satisfied: PyYAML in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from optuna) (5.4.1)
Requirement already satisfied: packaging>=20.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from optuna) (21.3)
Collecting cmaes>=0.9.1
  Downloading cmaes-0.9.1-py3-none-any.whl (21 kB)
Collecting alembic>=1.5.0
  Downloading alembic-1.9.2-py3-none-any.whl (210 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.6/210.6 kB 3.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: tqdm in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from optuna) (4.64.1)
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 9.5 MB/s eta 0:00:00
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=0.24.0->catboost) (2022.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sqlalchemy>=1.3.0->optuna) (1.1.3.post0)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib->catboost) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib->catboost) (1.0.6)
Requirement already satisfied: pillow>=6.2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib->catboost) (9.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from plotly->catboost) (8.1.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from Mako->alembic>=1.5.0->optuna) (2.1.1)
Installing collected packages: Mako, graphviz, colorlog, cmaes, xgboost, alembic, optuna, lightgbm, catboost
Successfully installed Mako-1.2.4 alembic-1.9.2 catboost-1.1.1 cmaes-0.9.1 colorlog-6.7.0 graphviz-0.20.1 lightgbm-3.3.5 optuna-3.1.0 xgboost-1.7.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import boto3
import pandas as pd; pd.set_option('display.max_columns', 100)
import numpy as np

import matplotlib.pyplot as plt; plt.style.use('ggplot')
import seaborn as sns

from math import floor

from scipy.stats import rankdata
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import KFold, train_test_split, GridSearchCV, StratifiedKFold, TimeSeriesSplit
from sklearn.metrics import mean_squared_error, roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, HistGradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

import optuna as op

s3 = boto3.resource('s3')
bucket_name = 'analytics-data-science-competitions'
bucket = s3.Bucket(bucket_name)

file_key_1 = 'Tabular-Playground-Series/Tabular-Playground-Jan-2023-4/train.csv'
file_key_2 = 'Tabular-Playground-Series/Tabular-Playground-Jan-2023-4/test.csv'
file_key_3 = 'Tabular-Playground-Series/Tabular-Playground-Jan-2023-4/sample_submission.csv'

bucket_object_1 = bucket.Object(file_key_1)
file_object_1 = bucket_object_1.get()
file_content_stream_1 = file_object_1.get('Body')

bucket_object_2 = bucket.Object(file_key_2)
file_object_2 = bucket_object_2.get()
file_content_stream_2 = file_object_2.get('Body')

bucket_object_3 = bucket.Object(file_key_3)
file_object_3 = bucket_object_3.get()
file_content_stream_3 = file_object_3.get('Body')

## Reading data files
train = pd.read_csv(file_content_stream_1)
test = pd.read_csv(file_content_stream_2)
submission = pd.read_csv(file_content_stream_3)

train['Time'] = train['Time'] / 3600
test['Time'] = test['Time'] / 3600

train = train[(train['Time'] >= 10) & (train['Time'] <= 24)].reset_index(drop = True)
# train['Time_Bucket'] = train['Time'].apply(floor)

# train['Time_Bucket'] = train['Time_Bucket'] - 8

# test['Time_Bucket'] = test['Time'].apply(floor)
# test['Time_Bucket'] = test['Time_Bucket'] - 32

In [99]:
train['Time_Bucket'].value_counts()

20    15388
17    15016
14    14878
21    14346
22    13707
19    12896
15    12773
18    12295
16    11797
13    10201
10     9258
12     8452
23     8394
11     4903
24        2
Name: Time_Bucket, dtype: int64

In [82]:
train[train['Time_Bucket'] == 24]

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class,Time_Bucket
164304,192943,24.0,-0.332390,2.140909,-1.717079,1.154868,1.076970,-1.716594,1.471908,-0.867357,0.452747,-0.639773,0.652949,-0.940592,-0.557781,-2.814991,1.057944,0.113925,1.867007,1.252300,-0.248925,0.098387,0.052959,0.570145,-0.286617,0.001668,-0.525930,-0.410837,-0.839087,-0.286535,1.00,0,24
164305,192944,24.0,1.889587,-0.009617,-2.724135,0.619191,0.734012,-1.107895,0.808830,-0.455867,0.382389,-0.711441,-0.869179,0.094339,0.276679,-1.175027,-0.184964,0.258653,0.818112,-0.139536,0.194766,0.053351,-0.322571,-0.946699,-0.068503,-0.814458,-0.205539,-0.058140,-0.118637,-0.019226,129.95,0,24

In [86]:
test['Time_Bucket'].value_counts()

42    13980
39    13420
34    12596
40    11550
45    11393
37    10857
36    10465
44     9787
38     9459
43     9188
41     8235
35     8112
33     6974
46     6017
47     4054
Name: Time_Bucket, dtype: int64

In [39]:
train.head()

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,22365,9.000556,1.244814,-0.754958,0.854670,-0.735576,-1.332617,-0.308208,-1.017979,0.162837,-0.715797,0.754855,1.630481,-0.222389,-0.771056,0.082871,0.568529,1.273936,0.183846,-1.035992,0.146824,0.022408,0.249969,0.580945,0.028481,0.223534,0.180780,-0.255845,0.023028,0.012719,29.95,0
1,22366,9.001111,1.267944,-0.834604,0.972069,-0.470734,-1.106470,0.331408,-0.971756,0.183514,-0.579641,0.477559,1.547337,1.082639,0.926375,-0.653915,-0.977970,0.366421,0.808828,-1.935260,0.706095,0.083736,-0.065784,0.475079,0.027949,0.282710,0.336041,-0.221849,0.060442,0.004089,10.00,0
2,22367,9.004167,1.285540,-0.919086,0.715597,-0.591645,-0.945174,1.005579,-1.329266,0.282678,0.302076,0.250115,-2.023751,-0.402224,0.130148,-1.027361,-1.567678,0.264579,0.892230,-1.567146,1.333612,0.045291,0.174450,0.882723,-0.251101,-0.889915,0.767446,0.127534,0.078694,-0.000612,1.00,0
3,22368,9.004722,1.349206,-0.865703,1.240889,-0.681399,-1.779078,-0.352529,-1.322768,0.068639,0.006841,0.569909,-0.816478,-0.937795,-0.427934,-0.569345,0.501294,1.398905,0.190789,-0.781538,0.469772,0.108236,0.358264,1.021212,-0.089879,0.404026,0.382348,-0.052998,0.051717,0.027174,9.99,0
4,22369,9.005000,-0.689537,-0.156537,2.557515,-1.788165,-0.881340,0.964190,-0.808502,0.646445,-0.818292,0.047035,1.447565,-0.738241,-1.040988,-0.323057,0.929153,1.164949,0.366433,-0.861169,-0.571727,0.056119,0.592060,1.604599,-0.229814,-0.350044,-0.128974,-0.057114,0.084733,0.074817,1.00,0

In [55]:
train['Time'].describe()

count    164306.000000
mean         17.496895
std           3.730481
min          10.002500
25%          14.574167
50%          17.638333
75%          20.675833
max          24.000000
Name: Time, dtype: float64

In [52]:
test['Time'].describe()

count    146087.000000
mean         40.177202
std           3.960563
min          33.494444
25%          36.860556
50%          40.136944
75%          43.372222
max          47.997222
Name: Time, dtype: float64

In [42]:
train['Time_Bucket'] = train['Time'].apply(floor)
train = train[train['Time_Bucket'] < 24].reset_index(drop = True)
train['Time_Bucket'] = train['Time_Bucket'] - 8

test['Time_Bucket'] = test['Time'].apply(floor)
test['Time_Bucket'] = test['Time_Bucket'] - 32

train.head()

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class,Time_Bucket
0,22365,9.000556,1.244814,-0.754958,0.854670,-0.735576,-1.332617,-0.308208,-1.017979,0.162837,-0.715797,0.754855,1.630481,-0.222389,-0.771056,0.082871,0.568529,1.273936,0.183846,-1.035992,0.146824,0.022408,0.249969,0.580945,0.028481,0.223534,0.180780,-0.255845,0.023028,0.012719,29.95,0,1
1,22366,9.001111,1.267944,-0.834604,0.972069,-0.470734,-1.106470,0.331408,-0.971756,0.183514,-0.579641,0.477559,1.547337,1.082639,0.926375,-0.653915,-0.977970,0.366421,0.808828,-1.935260,0.706095,0.083736,-0.065784,0.475079,0.027949,0.282710,0.336041,-0.221849,0.060442,0.004089,10.00,0,1
2,22367,9.004167,1.285540,-0.919086,0.715597,-0.591645,-0.945174,1.005579,-1.329266,0.282678,0.302076,0.250115,-2.023751,-0.402224,0.130148,-1.027361,-1.567678,0.264579,0.892230,-1.567146,1.333612,0.045291,0.174450,0.882723,-0.251101,-0.889915,0.767446,0.127534,0.078694,-0.000612,1.00,0,1
3,22368,9.004722,1.349206,-0.865703,1.240889,-0.681399,-1.779078,-0.352529,-1.322768,0.068639,0.006841,0.569909,-0.816478,-0.937795,-0.427934,-0.569345,0.501294,1.398905,0.190789,-0.781538,0.469772,0.108236,0.358264,1.021212,-0.089879,0.404026,0.382348,-0.052998,0.051717,0.027174,9.99,0,1
4,22369,9.005000,-0.689537,-0.156537,2.557515,-1.788165,-0.881340,0.964190,-0.808502,0.646445,-0.818292,0.047035,1.447565,-0.738241,-1.040988,-0.323057,0.929153,1.164949,0.366433,-0.861169,-0.571727,0.056119,0.592060,1.604599,-0.229814,-0.350044,-0.128974,-0.057114,0.084733,0.074817,1.00,0,1

In [43]:
train['Time_Bucket'].value_counts()

12    15388
9     15016
6     14878
13    14346
14    13707
11    12896
7     12773
10    12295
8     11797
5     10201
2      9258
4      8452
15     8394
1      6274
3      4903
Name: Time_Bucket, dtype: int64

In [77]:
train.head()

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,22365,9.000556,1.244814,-0.754958,0.854670,-0.735576,-1.332617,-0.308208,-1.017979,0.162837,-0.715797,0.754855,1.630481,-0.222389,-0.771056,0.082871,0.568529,1.273936,0.183846,-1.035992,0.146824,0.022408,0.249969,0.580945,0.028481,0.223534,0.180780,-0.255845,0.023028,0.012719,29.95,0
1,22366,9.001111,1.267944,-0.834604,0.972069,-0.470734,-1.106470,0.331408,-0.971756,0.183514,-0.579641,0.477559,1.547337,1.082639,0.926375,-0.653915,-0.977970,0.366421,0.808828,-1.935260,0.706095,0.083736,-0.065784,0.475079,0.027949,0.282710,0.336041,-0.221849,0.060442,0.004089,10.00,0
2,22367,9.004167,1.285540,-0.919086,0.715597,-0.591645,-0.945174,1.005579,-1.329266,0.282678,0.302076,0.250115,-2.023751,-0.402224,0.130148,-1.027361,-1.567678,0.264579,0.892230,-1.567146,1.333612,0.045291,0.174450,0.882723,-0.251101,-0.889915,0.767446,0.127534,0.078694,-0.000612,1.00,0
3,22368,9.004722,1.349206,-0.865703,1.240889,-0.681399,-1.779078,-0.352529,-1.322768,0.068639,0.006841,0.569909,-0.816478,-0.937795,-0.427934,-0.569345,0.501294,1.398905,0.190789,-0.781538,0.469772,0.108236,0.358264,1.021212,-0.089879,0.404026,0.382348,-0.052998,0.051717,0.027174,9.99,0
4,22369,9.005000,-0.689537,-0.156537,2.557515,-1.788165,-0.881340,0.964190,-0.808502,0.646445,-0.818292,0.047035,1.447565,-0.738241,-1.040988,-0.323057,0.929153,1.164949,0.366433,-0.861169,-0.571727,0.056119,0.592060,1.604599,-0.229814,-0.350044,-0.128974,-0.057114,0.084733,0.074817,1.00,0

# XGBoost Modeling

In [22]:
X = train.drop(columns = ['id', 'Time', 'Class'], axis = 1)
Y = train['Class']
# test = test.drop(columns = ['id', 'Time'], axis = 1)

XGB_cv_scores, XGB_imp = list(), list()
preds = list()

## Running 5 times CV
for i in range(5):
    
    skf = StratifiedKFold(n_splits = 5, shuffle = False)
    
    for train_ix, test_ix in skf.split(X, Y):
        
        ## Splitting the data 
        X_train, X_test = X.iloc[train_ix], X.iloc[test_ix]
        Y_train, Y_test = Y.iloc[train_ix], Y.iloc[test_ix]
                
        ## Building RF model
        XGB_md = XGBClassifier(tree_method = 'hist',
                               colsample_bytree = 0.7, 
                               gamma = 0.72, 
                               learning_rate = 0.01, 
                               max_depth = 9, 
                               min_child_weight = 10, 
                               n_estimators = 1000, 
                               subsample = 0.7).fit(X_train, Y_train)
        XGB_imp.append(XGB_md.feature_importances_)
        
        ## Predicting on X_test and test
        XGB_pred_1 = XGB_md.predict_proba(X_test)[:, 1]
        XGB_pred_2 = XGB_md.predict_proba(test)[:, 1]
        
        ## Computing roc-auc score
        XGB_cv_scores.append(roc_auc_score(Y_test, XGB_pred_1))
        preds.append(XGB_pred_2)

XGB_cv_score = np.mean(XGB_cv_scores)    
print('The average roc-auc score over 5-folds (run 5 times) is:', XGB_cv_score)

The average roc-auc score over 5-folds (run 5 times) is: 0.8206248860330629

In [18]:
XGB_preds_test = pd.DataFrame(preds).apply(np.mean, axis = 0)
submission['Class'] = XGB_preds_test
submission.to_csv('xgb_submission_8.csv', index = False)