In [2]:
import pandas as pd
import numpy as np

## Reading data files
val_1 = pd.read_csv('Evan_results_validation.csv')
val_1.columns = ['row_id', 'time', 'x', 'y', 'direction', 'congestion', 'congestion_pred_1']

val_2 = pd.read_csv('Gabriel_Ferreira_results_validation.csv')
val_2 = val_2[['row_id', 'congestion_pred']]
val_2.columns = ['row_id', 'congestion_pred_2']

val_3 = pd.read_csv('Gabriel_De_Medeiros_results_validation.csv')
val_3.columns = ['row_id', 'congestion_pred_3']

val_4 = pd.read_csv('Oscar_results_validation.csv')
val_4 = val_2[['row_id', 'congestion_pred']]
val_4.columns = ['row_id', 'congestion_pred_4']

   row_id                 time  x  y direction  congestion  congestion_pred
0  846495  1991-09-30 00:00:00  0  0        EB          33        39.661178
1  846560  1991-09-30 00:20:00  0  0        EB          33        39.713862
2  846625  1991-09-30 00:40:00  0  0        EB          33        39.872391
3  846690  1991-09-30 01:00:00  0  0        EB          33        39.977422
4  846755  1991-09-30 01:20:00  0  0        EB          33        39.730986

In [10]:
val_1.columns

Index(['row_id', 'time', 'x', 'y', 'direction', 'congestion',
       'congestion_pred'],
      dtype='object')

In [3]:
val_2 = pd.read_csv('Gabriel_Ferreira_results_validation.csv')
val_2.head()

   row_id                 time  x  y direction  congestion  congestion_pred
0  846495  1991-09-30 00:00:00  0  0        EB          33        39.357143
1  846560  1991-09-30 00:20:00  0  0        EB          33        39.720000
2  846625  1991-09-30 00:40:00  0  0        EB          33        39.458333
3  846690  1991-09-30 01:00:00  0  0        EB          33        39.639535
4  846755  1991-09-30 01:20:00  0  0        EB          33        39.684211

In [7]:
val_2.shape

(2340, 7)

In [4]:
val_3 = pd.read_csv('Gabriel_De_Medeiros_results_validation.csv')
val_3.head()

   row_id  congestion
0  846495   38.250197
1  846560   38.736305
2  846625   39.631089
3  846690   40.875726
4  846755   42.377400

In [8]:
val_3.shape

(2340, 2)

In [5]:
val_4 = pd.read_csv('Oscar_results_validation.csv')
val_4.head()

,row_id,time,x,y,direction,congestion,day,hour,minute,EB,NB,NE,NW,SB,SE,SW,WB,congestion_pred
0,846495,1991-09-30 00:00:00,0,0,EB,33,0,0,0,1,0,0,0,0,0,0,0,37.643880
1,846560,1991-09-30 00:20:00,0,0,EB,33,0,0,20,1,0,0,0,0,0,0,0,37.730434
2,846625,1991-09-30 00:40:00,0,0,EB,33,0,0,40,1,0,0,0,0,0,0,0,37.910370
3,846690,1991-09-30 01:00:00,0,0,EB,33,0,1,0,1,0,0,0,0,0,0,0,37.935738
4,846755,1991-09-30 01:20:00,0,0,EB,33,0,1,20,1,0,0,0,0,0,0,0,37.982544

In [9]:
val_4.shape

(2340, 18)