In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tabular-playground-series-sep-2022/sample_submission.csv
/kaggle/input/tabular-playground-series-sep-2022/train.csv
/kaggle/input/tabular-playground-series-sep-2022/test.csv

In [2]:
train = pd.read_csv('../input/tabular-playground-series-sep-2022/train.csv',parse_dates=['date'])
test = pd.read_csv('../input/tabular-playground-series-sep-2022/test.csv',parse_dates=['date'])
sample_sub = pd.read_csv('../input/tabular-playground-series-sep-2022/sample_submission.csv')

print(train.shape)
print(test.shape)
sample_sub

(70128, 6)
(17520, 5)

       row_id  num_sold
0       70128       100
1       70129       100
2       70130       100
3       70131       100
4       70132       100
...       ...       ...
17515   87643       100
17516   87644       100
17517   87645       100
17518   87646       100
17519   87647       100

[17520 rows x 2 columns]

In [3]:
train

,row_id,date,country,store,product,num_sold
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615
2,2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480
3,3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710
4,4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240
...,...,...,...,...,...,...
70123,70123,2020-12-31,Spain,KaggleMart,Kaggle for Kids: One Smart Goose,614
70124,70124,2020-12-31,Spain,KaggleRama,Kaggle Advanced Techniques,215
70125,70125,2020-12-31,Spain,KaggleRama,Kaggle Getting Started,158
70126,70126,2020-12-31,Spain,KaggleRama,Kaggle Recipe Book,135
70127,70127,2020-12-31,Spain,KaggleRama,Kaggle for Kids: One Smart Goose,202

In [4]:
test

,row_id,date,country,store,product
0,70128,2021-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques
1,70129,2021-01-01,Belgium,KaggleMart,Kaggle Getting Started
2,70130,2021-01-01,Belgium,KaggleMart,Kaggle Recipe Book
3,70131,2021-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose
4,70132,2021-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques
...,...,...,...,...,...
17515,87643,2021-12-31,Spain,KaggleMart,Kaggle for Kids: One Smart Goose
17516,87644,2021-12-31,Spain,KaggleRama,Kaggle Advanced Techniques
17517,87645,2021-12-31,Spain,KaggleRama,Kaggle Getting Started
17518,87646,2021-12-31,Spain,KaggleRama,Kaggle Recipe Book
17519,87647,2021-12-31,Spain,KaggleRama,Kaggle for Kids: One Smart Goose

In [5]:
train.nunique()

row_id      70128
date         1461
country         6
store           2
product         4
num_sold      699
dtype: int64

In [6]:
test.nunique()

row_id     17520
date         365
country        6
store          2
product        4
dtype: int64

In [7]:
train['weekday'] = train['date'].dt.dayofweek
test['weekday'] = test['date'].dt.dayofweek

train['month'] = train['date'].dt.month_name()
test['month'] = test['date'].dt.month_name()

In [8]:
train_means        = train.groupby(['country','store','product','month','weekday'])['num_sold'].mean().to_dict()
test["prediction"] = test.set_index(['country','store','product','month','weekday']).index.map(train_means.get)
test

,row_id,date,country,store,product,weekday,month,prediction
0,70128,2021-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,4,January,435.764706
1,70129,2021-01-01,Belgium,KaggleMart,Kaggle Getting Started,4,January,314.823529
2,70130,2021-01-01,Belgium,KaggleMart,Kaggle Recipe Book,4,January,280.235294
3,70131,2021-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,4,January,456.529412
4,70132,2021-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,4,January,151.411765
...,...,...,...,...,...,...,...,...
17515,87643,2021-12-31,Spain,KaggleMart,Kaggle for Kids: One Smart Goose,4,December,344.352941
17516,87644,2021-12-31,Spain,KaggleRama,Kaggle Advanced Techniques,4,December,106.411765
17517,87645,2021-12-31,Spain,KaggleRama,Kaggle Getting Started,4,December,93.117647
17518,87646,2021-12-31,Spain,KaggleRama,Kaggle Recipe Book,4,December,76.647059
17519,87647,2021-12-31,Spain,KaggleRama,Kaggle for Kids: One Smart Goose,4,December,120.529412

In [9]:
sample_sub['num_sold'] = test.prediction
sample_sub.to_csv('submission.csv',index=False)
print(sample_sub.num_sold.mean())
sample_sub

194.34465494395906

       row_id    num_sold
0       70128  435.764706
1       70129  314.823529
2       70130  280.235294
3       70131  456.529412
4       70132  151.411765
...       ...         ...
17515   87643  344.352941
17516   87644  106.411765
17517   87645   93.117647
17518   87646   76.647059
17519   87647  120.529412

[17520 rows x 2 columns]

# Literature Used

https://www.kaggle.com/code/carlmcbrideellis/tps-jan-2022-a-simple-average-model-no-ml